*~
aranym.config
drive_c/
drive_d/
drive_e/
drive_f/
drive_d.img
drive_e.img
drive_f.img
downloads/
sources/
emutos/
freemint/
bash/
oldstuff/
openssh/
binutils/
gcc/
mintbin/
mintlib-src/
mintlib/
fdlibm/
fdlibm-src/
coreutils/
sed/
gawk/
grep/
diffutils/
make/
bison/
