[GLOBAL]
FastRAM = 512
EmuTOS = emutos/emutos-aranym.img
Bootstrap = drive_c/auto/mintara.prg
BootstrapArgs = MEM_PROT=YES DEBUG_LEVEL=1
BootDrive = C

[PARTITION0]
Path = /dev/null
Present = Yes
PartID = $83
ByteSwap = Yes
ReadOnly = No

[PARTITION1]
Path = /dev/null
Present = Yes
PartID = $83
ByteSwap = Yes
ReadOnly = No

[PARTITION2]
Path = drive_e.img
Present = Yes
PartID = $83
ByteSwap = Yes
ReadOnly = No

[PARTITION3]
Path = drive_f.img
Present = Yes
PartID = $83
ByteSwap = Yes
ReadOnly = No

[HOSTFS]
C = drive_c
D = drive_d
H = .

[ETH0]
Type = ptp
Tunnel = tap0
HostIP = 192.168.251.1
AtariIP = 192.168.251.2
Netmask = 255.255.255.0
MAC = 00:41:45:54:48:30
